@font-face {
  font-family: "Monument";
  src: url("assets/MonumentExtended-Regular.woff");
}
@font-face {
  font-family: "Silka";
  src: url("assets/silkamono-regular-webfont.woff");
}

h1,
h2,
a,
h5 {
  font-family: "Monument";
}
p,
h6 {
  font-family: "Silka";
}

/*contact styling*/
#contact {
  text-decoration: underline;
  background: linear-gradient(#ff7a01, #ff9900, #ffd509);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;
