.rainbowText{
    font-size: 128px;
    font: Helvetica;
    text-transform: uppercase;

    background: linear-gradient(
      to right,
      #f00 0%,
      #f80 14.28%,
      #dd0 28.56%,
      #0d0 42.85%,
      #0dd 57.14%,
      #00f 71.42%,
      #e0e 85.71%,
      #f00 100%
    )
    0% center / 200% auto;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    text-fill-color: transparent;
    background-clip: text;
    animation: example 4s linear infinite;
}

@keyframes example {
    to { background-position-x: 200%; }
  }
  