.rainbowText {
  text-transform: uppercase;

  background: linear-gradient(
      to right,
      #fe8787 0%,
      #ffac4c 14.28%,
      #feed45 28.56%,
      #deff98 42.85%,
      #adffff 57.14%,
      #835b6e 71.42%,
      #e26b6c 85.71%,
      #fe8787 100%
    )
    0% center / 200% auto;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  animation: example 4s linear infinite;
}

@keyframes example {
  to {
    background-position-x: 200%;
  }
}

.map {
  width: 100vw;
  height: 100vh;
}

.map-bg-overlay {
  z-index: 1;
  position: absolute;
  padding-top: 250px;
  padding-bottom: 435px;
  background-position: 0 12px;
}

/* Required as .mapboxgl-map doesn't exist in compile time */
/* Writing media queries like it's 1999, and cause of my bundlephobia */
/* purgecss start ignore */
.mapboxgl-map,
.map-topheader {
  margin-top: 250px;
}

@media only screen and (max-width: 1023px) {
  .mapboxgl-map,
  .map-topheader {
    margin-top: 180px;
  }
}

@media only screen and (max-width: 767px) {
  .mapboxgl-map,
  .map-topheader {
    margin-top: 120px;
  }
}
/* purgecss end ignore */

.control-panel {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 320px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  padding: 12px 24px;
  margin: 20px;
  font-size: 13px;
  line-height: 2;
  color: #6b6b76;
  outline: none;
  text-transform: uppercase;
  /*margin-top: 250px;*/
}

label {
  display: inline-block;
  width: 150px;
}

input {
  margin-left: 20px;
}

.input.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

img {
  transition: 1s;
}

.ticker::before,
.ticker::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 67vw;
}
.ticker::before {
  left: 0;
}
.ticker::after {
  right: 0;
  background-image: linear-gradient(
    to left,
    white,
    rgba(255, 255, 255, 0),
    white
  );
}
